/*mobile nav*/

@media screen and (max-width: 368px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;

  }
}
@media screen and (min-width: 736px) {
	span{display: none;
		}
}

/*end mobile nav*/

/*nav bar*/
@media screen and (max-width: 736px) {
	.classynav  a{
		margin: 0px;
		margin-top: 10px;
		font-size: 10px;
		display: none;

	}
	.classynav  a:hover, .classynav ul li a:focus{
		font-size: 10px;
	}
	.nav-brand img{
		margin-right: 20px;
	}
	.shopping_cart {
		font-size: 10px;
		margin-top: -47px;

	}
}

/*Home*/
@media screen and (max-width: 736px) {
	.catagoryHome{
		width: 92%;
		height: 100%;
		margin: 0;
	}
	.catagoryHome_image
{
  width: 106.5%;
  height: 100%;
}
	.catagoryHome::after{
		width: 92%;
		height: 87%;
	}

}
@media screen and (max-width: 900px) {
	.productHome{
		display: block;

	}
	.productHome_image
	{
		width: 150px;


		margin-top: -10px;

	}
	.productHome_title{
		margin-top: -50px;
		text-align: center;


	}
}
@media screen and (max-width: 900px) {
	.avds_xl{

		padding-left: 0;
		padding-right: 0;
		
		
	}
	.avds_xl_content{
		padding-left: 0;
		padding-right: 0;
		font-size: 13px;
		
	}
}
@media screen and (max-width: 900px) {
	.icon_boxes{

		padding-left: 10px;
		padding-right: 10px;
	}
	.icon_box_image{
		width: 70px;
		height: 70px;
	}
	.icon_box_title{
		font-size: 15px;
	}
	.icon_box_text{

		font-size: 10px;
	}
}
/*home end*/

/*Shop*/
@media screen and (max-width: 900px) {
	.sorting_bar{
		margin-top: -50px;
		margin-bottom: 20px;
		margin-left: -60px;
	}
	.product{
		width: calc((100% - 50px) / 2);
		margin-top: -50px;

	}
	.product_shoplayout{
		margin-left: -60px;
	}
	.product_content{
		margin-top: -50px;
	}
	.product_title a{
		font-size: 10px;

	}
	.product_price{
		font-size: 10px;
	}
	.product_pagination{
		margin-top: -50px;
		margin-bottom: 10px;


	}
}
/*shop end*/

/*contact*/
@media screen and (max-width: 900px) {
	.mapouter #gmap_canvas{
		position: relative;
		width:100%;
		height: 100px;

	}
}
/*contact end*/

/*Product*/
@media screen and (max-width: 1080px) {
	.details_image .details_image_large{
		width:200px;
		height: 200px;
		margin-left: -55px;

		}
	.details_name{
		padding-left: 45px;
		display: block;
		margin-top: 30px;
	}
	.details_text .details_for_price{
		padding-left: 0px;
		display: block;
		
	}
	.details_text .available{
		padding-left: 0px;
		display: block;
	}

	.details_text p{
		padding-left: 0px;
		display: inline;
	}
	.product_quantity_container{
		padding-left: 35px;
		display: block;
	}
	.product_quantity{
		display: block;
	}

	.description_row{
		padding-bottom: 50px;
		padding-left: 45px;
		padding-right: 100px;
		display: inline-block;
	}
	.col .products_title{
		margin-top: 30px;
	}

	
	}
/*end product*/

/*Cart*/
@media screen and (max-width: 900px) {

	.cart_info_col{
		font-size: 10px;
		

	}
.cart_item_image img{
	width: 150px;
	height:150px;
	margin-left: -50px;
}
.cart_item_name_container{
	transform: translate(-10%,-100%);
}
.product_quantity{
	border: none;
}
.product_quantity span{
	font-size: 8px;margin-left: -5px;
}
.product_quantity input{
	margin-left: -45px;
	margin-top: 3px;
	font-size: 8px;
	

}
.cart_item_price{
	transform: translate(600%,-1200%);
	font-size: 8px;
}
.cart_item_total{
	font-size: 8px;
	transform: translate(860%,-1660%);
}
.clear_cart_button{
	margin-left: 15px;
}
/*cart end*/

/*Checkout*/
@media screen and (max-width: 900px) {

	.order{
		transform: translate(-16%,5%);
		margin-bottom: 50px;

	}
	.checkout{
		
		width: 86%;
	}
}	
	/*checkout*/

	/*successful*/
@media screen and (max-width: 900px) {
	.successful_content{
		font-size: 10px;
	}
}	
/*about*/
@media screen and (max-width: 900px) {
	.col-12 img{
		width:240px;
		margin-left: -60px;
		margin-bottom: 50px;

	}
	.col-12 p{
		
		font-size: 10px;
		
	}
	.section-heading h3{
		font-size: 20px;
		margin-top: -50px;
		margin-bottom: -50px;
		
		
	}
	/*home new arrival*/
	.section-heading h5{
		font-size: 18px;
		margin-top: 20px;
		margin-left: 50px;
		
		
	}
	/*new arrival end*/

	/*about end*/

	/*event*/
	
	.single-blog-area .blog-content{	
		margin-top: -120px;
	}
	.post-date{
		margin-left: -50px;
	}
}}
	/*event end*/
